In [78]:
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import json

from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

from bs4 import BeautifulSoup
import requests
import pymongo

In [79]:
# *** Screen Scrape tables ***

state_blackfriday_violence_url = "https://www.reviews.org/trends/high-risk-states-for-black-friday-violence/"

blackfriday_death_count_url = "http://blackfridaydeathcount.com"

In [88]:
# Get first table data

state_blackfriday_violence_table = pd.read_html(state_blackfriday_violence_url, header=0)

In [91]:
# Get second table data

blackfriday_death_count_table = pd.read_html(blackfriday_death_count_url, header=0)

In [81]:
# get first table dataframe

state_df = state_blackfriday_violence_table[0]
state_df.head()

,Our ranking,State,Violent Crime ranking,Interest in Black Friday
0,1,ARKANSAS,6,15
1,2,TENNESSEE,3,14
2,3,WEST VIRGINIA,28,1
3,4,NORTH CAROLINA,24,21
4,5,ALABAMA,8,26

In [113]:
# get second table dataframe

bf_death = blackfriday_death_count_table[0]
bf_death.head()

,Unnamed: 0,Unnamed: 1,Deaths,Injuries
0,2018,"Man, 27, shot to death in parking lot in South...",1,-
1,2018,Man wounded in shooting inside N.J. mall at th...,-,1
2,2018,Two people stabbed at Macy's in Destiny USA,-,2
3,2018,Glance at attractive woman sparked Memphis mal...,-,1
4,2018,One dead and 2 wounded— including 12-year-old ...,1,2

In [112]:
# Clean first table data

new_state_df = state_df[['Our ranking','State','Violent Crime ranking']]
new_state_df2=new_state_df.rename(columns={"Our ranking":"ranking","State":"state","Violent Crime ranking":"vio_crime_rank"})
new_state_df2.head()

   ranking           state  vio_crime_rank
0        1        ARKANSAS               6
1        2       TENNESSEE               3
2        3   WEST VIRGINIA              28
3        4  NORTH CAROLINA              24
4        5         ALABAMA               8

In [ ]:
# Clean first table data

bf_death_df = bf_death.rename(columns={"Unnamed: 0":"year","Unnamed: 1":"article_title","Deaths":"deaths","Injuries":"injuries"})

bf_death_df2 = bf_death_df.replace('-',0)
bf_death_df2 = bf_death_df2.replace(':'," ")

bf_death_df3 = bf_death_df2.dropna()

bf_death_df3 = bf_death_df3.reset_index(drop=True)
bf_death_df3.head(50)

In [83]:
# Connect to local Database

rds_connection_string = "root:5663307t@localhost:3306/black_friday_incidents"
engine = create_engine(f'mysql://{rds_connection_string}')


#engine = create_engine(f"mysql://{dbuser}:{dbpasswd}@{dburi}:{dbport}/{dbname}")
#Base.metadata.create_all(engine)
#dbuser = "root"
#dbpasswd = ""
#dburi = "localhost"
#dbport = 3306
#dbname = "SharkSearch"

In [94]:
engine.table_names()

['incident_by_year', 'state_violentcrimes']

In [86]:
# first table transferred to MYSQL

new_state_df2.to_sql(name='state_violentcrimes',con=engine,if_exists='append', index=False)

In [130]:
# second table transferred to MYSQL

bf_death_df3.to_sql(name='incident_by_year',con=engine,if_exists='append', index=False)

InternalError: (pymysql.err.InternalError) (1366, "Incorrect string value: '\\xE2\\x80\\x8E' for column 'article_title' at row 48") [SQL: 'INSERT INTO incident_by_year (year, article_title, deaths, injuries) VALUES (%(year_m0)s, %(article_title_m0)s, %(deaths_m0)s, %(injuries_m0)s), (%(year_m1)s, %(article_title_m1)s, %(deaths_m1)s, %(injuries_m1)s), (%(year_m2)s, %(article_title_m2)s, %(deaths_m2)s, %(injuries_m2)s), (%(year_m3)s, %(article_title_m3)s, %(deaths_m3)s, %(injuries_m3)s), (%(year_m4)s, %(article_title_m4)s, %(deaths_m4)s, %(injuries_m4)s), (%(year_m5)s, %(article_title_m5)s, %(deaths_m5)s, %(injuries_m5)s), (%(year_m6)s, %(article_title_m6)s, %(deaths_m6)s, %(injuries_m6)s), (%(year_m7)s, %(article_title_m7)s, %(deaths_m7)s, %(injuries_m7)s), (%(year_m8)s, %(article_title_m8)s, %(deaths_m8)s, %(injuries_m8)s), (%(year_m9)s, %(article_title_m9)s, %(deaths_m9)s, %(injuries_m9)s), (%(year_m10)s, %(article_title_m10)s, %(deaths_m10)s, %(injuries_m10)s), (%(year_m11)s, %(article_title_m11)s, %(deaths_m11)s, %(injuries_m11)s), (%(year_m12)s, %(article_title_m12)s, %(deaths_m12)s, %(injuries_m12)s), (%(year_m13)s, %(article_title_m13)s, %(deaths_m13)s, %(injuries_m13)s), (%(year_m14)s, %(article_title_m14)s, %(deaths_m14)s, %(injuries_m14)s), (%(year_m15)s, %(article_title_m15)s, %(deaths_m15)s, %(injuries_m15)s), (%(year_m16)s, %(article_title_m16)s, %(deaths_m16)s, %(injuries_m16)s), (%(year_m17)s, %(article_title_m17)s, %(deaths_m17)s, %(injuries_m17)s), (%(year_m18)s, %(article_title_m18)s, %(deaths_m18)s, %(injuries_m18)s), (%(year_m19)s, %(article_title_m19)s, %(deaths_m19)s, %(injuries_m19)s), (%(year_m20)s, %(article_title_m20)s, %(deaths_m20)s, %(injuries_m20)s), (%(year_m21)s, %(article_title_m21)s, %(deaths_m21)s, %(injuries_m21)s), (%(year_m22)s, %(article_title_m22)s, %(deaths_m22)s, %(injuries_m22)s), (%(year_m23)s, %(article_title_m23)s, %(deaths_m23)s, %(injuries_m23)s), (%(year_m24)s, %(article_title_m24)s, %(deaths_m24)s, %(injuries_m24)s), (%(year_m25)s, %(article_title_m25)s, %(deaths_m25)s, %(injuries_m25)s), (%(year_m26)s, %(article_title_m26)s, %(deaths_m26)s, %(injuries_m26)s), (%(year_m27)s, %(article_title_m27)s, %(deaths_m27)s, %(injuries_m27)s), (%(year_m28)s, %(article_title_m28)s, %(deaths_m28)s, %(injuries_m28)s), (%(year_m29)s, %(article_title_m29)s, %(deaths_m29)s, %(injuries_m29)s), (%(year_m30)s, %(article_title_m30)s, %(deaths_m30)s, %(injuries_m30)s), (%(year_m31)s, %(article_title_m31)s, %(deaths_m31)s, %(injuries_m31)s), (%(year_m32)s, %(article_title_m32)s, %(deaths_m32)s, %(injuries_m32)s), (%(year_m33)s, %(article_title_m33)s, %(deaths_m33)s, %(injuries_m33)s), (%(year_m34)s, %(article_title_m34)s, %(deaths_m34)s, %(injuries_m34)s), (%(year_m35)s, %(article_title_m35)s, %(deaths_m35)s, %(injuries_m35)s), (%(year_m36)s, %(article_title_m36)s, %(deaths_m36)s, %(injuries_m36)s), (%(year_m37)s, %(article_title_m37)s, %(deaths_m37)s, %(injuries_m37)s), (%(year_m38)s, %(article_title_m38)s, %(deaths_m38)s, %(injuries_m38)s), (%(year_m39)s, %(article_title_m39)s, %(deaths_m39)s, %(injuries_m39)s), (%(year_m40)s, %(article_title_m40)s, %(deaths_m40)s, %(injuries_m40)s), (%(year_m41)s, %(article_title_m41)s, %(deaths_m41)s, %(injuries_m41)s), (%(year_m42)s, %(article_title_m42)s, %(deaths_m42)s, %(injuries_m42)s), (%(year_m43)s, %(article_title_m43)s, %(deaths_m43)s, %(injuries_m43)s), (%(year_m44)s, %(article_title_m44)s, %(deaths_m44)s, %(injuries_m44)s), (%(year_m45)s, %(article_title_m45)s, %(deaths_m45)s, %(injuries_m45)s), (%(year_m46)s, %(article_title_m46)s, %(deaths_m46)s, %(injuries_m46)s), (%(year_m47)s, %(article_title_m47)s, %(deaths_m47)s, %(injuries_m47)s), (%(year_m48)s, %(article_title_m48)s, %(deaths_m48)s, %(injuries_m48)s), (%(year_m49)s, %(article_title_m49)s, %(deaths_m49)s, %(injuries_m49)s), (%(year_m50)s, %(article_title_m50)s, %(deaths_m50)s, %(injuries_m50)s), (%(year_m51)s, %(article_title_m51)s, %(deaths_m51)s, %(injuries_m51)s), (%(year_m52)s, %(article_title_m52)s, %(deaths_m52)s, %(injuries_m52)s)'] [parameters: {'year_m0': '2018', 'article_title_m0': 'Man, 27, shot to death in parking lot in South Keys Ottawa', 'deaths_m0': '1', 'injuries_m0': 0, 'year_m1': '2018', 'article_title_m1': 'Man wounded in shooting inside N.J. mall at the end of Black Friday', 'deaths_m1': 0, 'injuries_m1': '1', 'year_m2': '2018', 'article_title_m2': "Two people stabbed at Macy's in Destiny USA", 'deaths_m2': 0, 'injuries_m2': '2', 'year_m3': '2018', 'article_title_m3': 'Glance at attractive woman sparked Memphis mall shooting', 'deaths_m3': 0, 'injuries_m3': '1', 'year_m4': '2018', 'article_title_m4': 'One dead and 2 wounded— including 12-year-old girl— in Alabama mall shooting', 'deaths_m4': '1', 'injuries_m4': '2', 'year_m5': '2017', 'article_title_m5': 'Black Friday altercation in Kmart leaves man with a shattered hip', 'deaths_m5': 0, 'injuries_m5': '1', 'year_m6': '2017', 'article_title_m6': 'Black Friday Missouri mall shooting leaves teen seriously injured', 'deaths_m6': 0, 'injuries_m6': '1', 'year_m7': '2017', 'article_title_m7': 'One male shot, one male stabbed at Willowbrook Mall on Black Friday', 'deaths_m7': 0, 'injuries_m7': '2', 'year_m8': '2017', 'article_title_m8': 'Brawls close Alabama shopping center, one treated for injuries', 'deaths_m8': 0, 'injuries_m8': '1', 'year_m9': '2016', 'article_title_m9': 'San Antonio man helped a woman being beaten in a Walmart parking lot, shot dead', 'deaths_m9': '1', 'injuries_m9': '2', 'year_m10': '2016', 'article_title_m10': 'Shirtless man uses belt as a whip outside Vancouver Black Friday sale', 'deaths_m10': 0, 'injuries_m10': '1', 'year_m11': '2016', 'article_title_m11': 'Woman hurt during stampede in South African mall', 'deaths_m11': 0, 'injuries_m11': '1', 'year_m12': '2016', 'article_title_m12': 'One injured, one charged, after shots fired outside Wolfchase Galleria in Tennessee', 'deaths_m12': 0, 'injuries_m12': '1', 'year_m13': '2016', 'article_title_m13': "Policeman stabbed in the neck confronting 'HMV shoplifter' in Leeds", 'deaths_m13': 0, 'injuries_m13': '1', 'year_m14': '2016', 'article_title_m14': 'Shopper opens fire, killing one, over Walmart parking spot in Reno, NV', 'deaths_m14': '1', 'injuries_m14': 0, 'year_m15': '2016', 'article_title_m15': 'Black Friday kicks off with deadly shooting at New Jersey mall', 'deaths_m15': '1', 'injuries_m15': '1', 'year_m16': '2014', 'article_title_m16': 'Thanksgiving shopper hit by car at Wyomissing Walmart', 'deaths_m16': 0, 'injuries_m16': '1', 'year_m17': '2014', 'article_title_m17': "Black Friday brawl at Kohl's in Tustin ends with 3 arrests", 'deaths_m17': 0, 'injuries_m17': '2', 'year_m18': '2014', 'article_title_m18': "UK Black Friday Madness: woman with broken wrist; head injury from fallen TV during 'scuffle'", 'deaths_m18': 0, 'injuries_m18': '2', 'year_m19': '2013', 'article_title_m19': 'Shopper Pepper Sprayed, Arrested in Argument Over TV at New Jersey Walmart', 'deaths_m19': 0, 'injuries_m19': '1', 'year_m20': '2013', 'article_title_m20': 'Thanksgiving Day bargain shoppers send 11 year-old to hospital', 'deaths_m20': 0, 'injuries_m20': '2', 'year_m21': '2013', 'article_title_m21': 'Teen returning home from Black Friday shopping fell asleep at wheel, killed in wreck', 'deaths_m21': '1', 'injuries_m21': '4', 'year_m22': '2013', 'article_title_m22': 'Man Stabbed During Black Friday Event at Carlsbad Mall', 'deaths_m22': 0, 'injuries_m22': '1', 'year_m23': '2013', 'article_title_m23': 'Newport, Arkansas Walmart employee injured during Black Friday sales', 'deaths_m23': 0, 'injuries_m23': '1', 'year_m24': '2013', 'article_title_m24': "Scenes of chaos during chain store's Black Friday sales in Northern Ireland", 'deaths_m24': 0, 'injuries_m24': '1', 'year_m25': '2013', 'article_title_m25': "Several injured in Black Friday-related shooting outside Kohl's in Illinois", 'deaths_m25': 0, 'injuries_m25': '2', 'year_m26': '2013', 'article_title_m26': 'Black Friday: Virginia Man Stabbed In Walmart Parking Lot Over Space', 'deaths_m26': 0, 'injuries_m26': '1', 'year_m27': '2013', 'article_title_m27': 'Rialto Walmart brawl sends one police officer to hospital', 'deaths_m27': 0, 'injuries_m27': '1', 'year_m28': '2013', 'article_title_m28': 'Shopper carrying TV home from Target shot in Las Vegas', 'deaths_m28': 0, 'injuries_m28': '1', 'year_m29': '2012', 'article_title_m29': 'Black Friday Shoppers Hit By Suspected Drunk Driver In Walmart Parking Lot', 'deaths_m29': 0, 'injuries_m29': '2', 'year_m30': '2012', 'article_title_m30': 'Father charged in crash that killed daughters after Black Friday shopping', 'deaths_m30': '2', 'injuries_m30': '5', 'year_m31': '2012', 'article_title_m31': 'Two People Shot at Tallahassee Walmart Over Parking Space', 'deaths_m31': 0, 'injuries_m31': '2', 'year_m32': '2012', 'article_title_m32': 'Black Friday Shoppers Hit By Suspected Drunk Driver In Walmart Parking Lot', 'deaths_m32': 0, 'injuries_m32': '2', 'year_m33': '2011', 'article_title_m33': 'Girl trampled in Black Friday Wal-Mart rush', 'deaths_m33': 0, 'injuries_m33': '1', 'year_m34': '2011', 'article_title_m34': 'Black Friday Worker Rescued From Canal After Losing Control Of Car Due To Exhaustion', 'deaths_m34': 0, 'injuries_m34': '1', 'year_m35': '2011', 'article_title_m35': 'Black Friday: Target Shoppers Step Over Walter Vance As He Collapses, Dies', 'deaths_m35': '1', 'injuries_m35': 0, 'year_m36': '2011', 'article_title_m36': 'Fights break out at Rome Walmart during Black Friday shopping', 'deaths_m36': 0, 'injuries_m36': '2', 'year_m37': '2011', 'article_title_m37': 'Woman Wounded in South Carolina Black Friday Robbery Attempt', 'deaths_m37': 0, 'injuries_m37': '1', 'year_m38': '2011', 'article_title_m38': 'Off-duty police pepper spray North Carolina shoppers', 'deaths_m38': 0, 'injuries_m38': '20', 'year_m39': '2011', 'article_title_m39': 'Shooting outside California Walmart, 1 wounded', 'deaths_m39': 0, 'injuries_m39': '1', 'year_m40': '2011', 'article_title_m40': 'Los Angeles area Black Friday pepper-spray attack at Walmart injures 20', 'deaths_m40': 0, 'injuries_m40': '20', 'year_m41': '2010', 'article_title_m41': "Transwoman assaulted at Kohl's Department Store in Jackson, TN", 'deaths_m41': 0, 'injuries_m41': '1', 'year_m42': '2010', 'article_title_m42': 'Former Marine stabbed in Best Buy store by violent customer', 'deaths_m42': 0, 'injuries_m42': '1', 'year_m43': '2009', 'article_title_m43': 'Clarksville Woman Trampled During Black Friday Shopping', 'deaths_m43': 0, 'injuries_m43': '1', 'year_m44': '2008', 'article_title_m44': "Southern California Toys 'R' Us Shooting Leaves Two Dead", 'deaths_m44': '2', 'injuries_m44': '2', 'year_m45': '2008', 'article_title_m45': 'Worker dies at Long Island Wal-Mart after being trampled in Black Friday stampede', 'deaths_m45': '1', 'injuries_m45': '4', 'year_m46': '2006', 'article_title_m46': '10 Injured in Southern California Black Friday Mall Stampede', 'deaths_m46': 0, 'injuries_m46': '10', 'year_m47': '2006', 'article_title_m47': 'Salt Lake Tribune, The : Red-hot on Black Friday\u200e', 'deaths_m47': 0, 'injuries_m47': '1', 'year_m48': '2018', 'article_title_m48': 'Man shopping on Black Friday at Walmart has apparent heart attack and dies, coroner says', 'deaths_m48': '1', 'injuries_m48': 0, 'year_m49': '2014', 'article_title_m49': 'Texas pair arrested for Black Friday employee murder', 'deaths_m49': '1', 'injuries_m49': 0, 'year_m50': '2014', 'article_title_m50': 'Murder-suicide at Chicago Nordstrom leaves two dead', 'deaths_m50': '2', 'injuries_m50': 0, 'year_m51': '2014', 'article_title_m51': 'Man stabs co-worker at Costco', 'deaths_m51': 0, 'injuries_m51': '1', 'year_m52': '2010', 'article_title_m52': 'Employee suicide at Zanesville Jo-Ann closes store for Black Friday', 'deaths_m52': '1', 'injuries_m52': 0}] (Background on this error at: http://sqlalche.me/e/2j85)

In [87]:
# Verify first table data

pd.read_sql_query('select * from state_violentcrimes',con=engine).head()

   ranking           state  vio_crime_rank
0        1        ARKANSAS               6
1        2       TENNESSEE               3
2        3   WEST VIRGINIA              28
3        4  NORTH CAROLINA              24
4        5         ALABAMA               8

In [ ]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [10]:
blackfriday_death_count_table = pd.read_html(blackfriday_death_count_url)
blackfriday_death_count_table

[                                             0  \
 0                                          NaN
 1                                         2018
 2                                         2018
 3                                         2018
 4                                         2018
 5                                         2018
 6                                         2017
 7                                         2017
 8                                         2017
 9                                         2017
 10                                        2016
 11                                        2016
 12                                        2016
 13                                        2016
 14                                        2016
 15                                        2016
 16                                        2016
 17                                        2014
 18                                        2014
 19                                        2014
 20                                        2013
 21                                        2013
 22                                        2013
 23                                        2013
 24                                        2013
 25                                        2013
 26                                        2013
 27                                        2013
 28                                        2013
 29                                        2013
 30                                        2012
 31                                        2012
 32                                        2012
 33                                        2012
 34                                        2011
 35                                        2011
 36                                        2011
 37                                        2011
 38                                        2011
 39                                        2011
 40                                        2011
 41                                        2011
 42                                        2010
 43                                        2010
 44                                        2009
 45                                        2008
 46                                        2008
 47                                        2006
 48                                        2006
 49                                         NaN
 50  Honorable Mentions (not included in count)
 51                                        2018
 52                                        2014
 53                                        2014
 54                                        2014
 55                                        2010

                                                     1         2         3
 0                                                 NaN    Deaths  Injuries
 1   Man, 27, shot to death in parking lot in South...         1         -
 2   Man wounded in shooting inside N.J. mall at th...         -         1
 3         Two people stabbed at Macy's in Destiny USA         -         2
 4   Glance at attractive woman sparked Memphis mal...         -         1
 5   One dead and 2 wounded— including 12-year-old ...         1         2
 6   Black Friday altercation in Kmart leaves man w...         -         1
 7   Black Friday Missouri mall shooting leaves tee...         -         1
 8   One male shot, one male stabbed at Willowbrook...         -         2
 9   Brawls close Alabama shopping center, one trea...         -         1
 10  San Antonio man helped a woman being beaten in...         1         2
 11  Shirtless man uses belt as a whip outside Vanc...         -         1
 12   Woman hurt during stampede in South African mall         -         1
 13  One injured, one charged, after shots fired ou...         -         1
 14  Policeman stabbed in the neck confronting 'HMV...         -         1
 15  Shopper opens fire, killing one, over Walmart ...         1         -
 16  Black Friday kicks off with deadly shooting at...         1         1
 17  Thanksgiving shopper hit by car at Wyomissing ...         -         1
 18  Black Friday brawl at Kohl's in Tustin ends wi...         -         2
 19  UK Black Friday Madness: woman with broken wri...         -         2
 20  Shopper Pepper Sprayed, Arrested in Argument O...         -         1
 21  Thanksgiving Day bargain shoppers send 11 year...         -         2
 22  Teen returning home from Black Friday shopping...         1         4
 23  Man Stabbed During Black Friday Event at Carls...         -         1
 24  Newport, Arkansas Walmart employee injured dur...         -         1
 25  Scenes of chaos during chain store's Black Fri...         -         1
 26  Several injured in Black Friday-related shooti...         -         2
 27  Black Friday: Virginia Man Stabbed In Walmart ...         -         1
 28  Rialto Walmart brawl sends one police officer ...         -         1
 29  Shopper carrying TV home from Target shot in L...         -         1
 30  Black Friday Shoppers Hit By Suspected Drunk D...         -         2
 31  Father charged in crash that killed daughters ...         2         5
 32  Two People Shot at Tallahassee Walmart Over Pa...         -         2
 33  Black Friday Shoppers Hit By Suspected Drunk D...         -         2
 34        Girl trampled in Black Friday Wal-Mart rush         -         1
 35  Black Friday Worker Rescued From Canal After L...         -         1
 36  Black Friday: Target Shoppers Step Over Walter...         1         -
 37  Fights break out at Rome Walmart during Black ...         -         2
 38  Woman Wounded in South Carolina Black Friday R...         -         1
 39  Off-duty police pepper spray North Carolina sh...         -        20
 40     Shooting outside California Walmart, 1 wounded         -         1
 41  Los Angeles area Black Friday pepper-spray att...         -        20
 42  Transwoman assaulted at Kohl's Department Stor...         -         1
 43  Former Marine stabbed in Best Buy store by vio...         -         1
 44  Clarksville Woman Trampled During Black Friday...         -         1
 45  Southern California Toys 'R' Us Shooting Leave...         2         2
 46  Worker dies at Long Island Wal-Mart after bein...         1         4
 47  10 Injured in Southern California Black Friday...         -        10
 48  Salt Lake Tribune, The : Red-hot on Black Friday‎         -         1
 49                                                NaN       NaN       NaN
 50                                             Deaths  Injuries       NaN
 51  Man shopping on Black Friday at Walmart has ap...         1         -
 52  Texas pair arrested for Black Friday employee ...         1         -
 53  Murder-suicide at Chicago Nordstrom leaves two...         2         -
 54                      Man stabs co-worker at Costco         -         1
 55  Employee suicide at Zanesville Jo-Ann closes s...         1         -  ]

In [ ]:
# **** USING MONGO DB ***********

In [40]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [41]:
# Define database and collection
state_bf_db = client.state_bf_db
collection_state_bf = state_bf_db.items

bf_dc_db = client.bf_deathcount_db
collection_bf_deathcount = bf_dc_db.items

In [42]:
# Retrieve page with the requests module
response1 = requests.get(state_blackfriday_violence_url)
# Create BeautifulSoup object; parse with 'lxml'
soup1 = BeautifulSoup(response1.text, 'lxml')

# Retrieve page with the requests module
response2 = requests.get(blackfriday_death_count_url)
# Create BeautifulSoup object; parse with 'lxml'
soup2 = BeautifulSoup(response2.text, 'lxml')

In [51]:
results = soup1.find_all('tr',class_="default-row")

for result in results:
    
    try:
        tds = result.find_all('td')
        our_ranking = tds[0].text
        
        #state = result.find('td'[1]).text
        state=tds[1].text
        
        #violent_crime_ranking = result.find('td'[2]).text
        violent_crime_ranking=tds[2].text
        
        #interest_in_bf = result.find('td').text
        interest_in_bf=tds[3].text
        
        if (our_ranking and state and violent_crime_ranking and interest_in_bf):
            print("------------------")
            print(our_ranking)
            print(state)
            print(violent_crime_ranking)
            print(interest_in_bf)
            
            post = {
                'rank':our_ranking,
                'state':state,
                'violent_crime_ranking':violent_crime_ranking,
                'interest_in_black_friday':interest_in_bf
            }
            
            collection_state_bf.insert_one(post)
            
    except Exception as e:
        print(e)

------------------
1
ARKANSAS
6
15
------------------
2
TENNESSEE
3
14
------------------
3
WEST VIRGINIA
28
1
------------------
4
NORTH CAROLINA
24
21
------------------
5
ALABAMA
8
26
------------------
6
NEVADA
5
41
------------------
7
CALIFORNIA
15
39
------------------
8
MISSOURI
7
18
------------------
9
ARIZONA
9
7
------------------
10
ILLINOIS
17
22
------------------
11
SOUTH CAROLINA
10
36
------------------
12
WYOMING
41
38
------------------
13
MICHIGAN
14
17
------------------
14
DELAWARE
13
9
------------------
15
NEW JERSEY
43
32
------------------
16
CONNECTICUT
44
27
------------------
17
TEXAS
16
42
------------------
18
NEW YORK
27
45
------------------
19
WASHINGTON
32
25
------------------
20
ALASKA
1
50
------------------
21
GEORGIA
26
31
------------------
22
FLORIDA
20
30
------------------
23
IOWA
34
5
------------------
24
COLORADO
23
35
------------------
25
KANSAS
19
19
------------------
26
INDIANA
21
23
------------------
27
IDAHO
45
3
------------------
28
VIRGINIA
47
34
------------------
29
LOUISIANA
4
37
------------------
30
KENTUCKY
46
10
------------------
31
MINNESOTA
40
8
------------------
32
MARYLAND
11
44
------------------
33
NEBRASKA
31
11
------------------
34
HAWAII
38
46
------------------
35
MONTANA
22
28
------------------
36
MAINE
50
16
------------------
37
NORTH DAKOTA
37
4
------------------
38
NEW MEXICO
2
48
------------------
39
OHIO
33
12
------------------
40
OKLAHOMA
12
33
------------------
41
MASSACHUSETTS
25
47
------------------
42
NEW HAMPSHIRE
48
13
------------------
43
SOUTH DAKOTA
18
20
------------------
44
MISSISSIPPI
35
40
------------------
45
UTAH
39
2
------------------
46
WISCONSIN
29
6
------------------
47
PENNSYLVANIA
30
24
------------------
48
RHODE ISLAND
42
29
------------------
49
OREGON
36
43
------------------
50
VERMONT
49
49

In [52]:
# Display items in MongoDB collection
listings = state_bf_db.items.find()

for listing in listings:
    print(listing)

{'_id': ObjectId('5c17c388484c9e33e4c2d393'), 'rank': '1', 'state': 'ARKANSAS', 'violent_crime_ranking': '6', 'interest_in_black_friday': '15'}
{'_id': ObjectId('5c17c388484c9e33e4c2d394'), 'rank': '2', 'state': 'TENNESSEE', 'violent_crime_ranking': '3', 'interest_in_black_friday': '14'}
{'_id': ObjectId('5c17c388484c9e33e4c2d395'), 'rank': '3', 'state': 'WEST VIRGINIA', 'violent_crime_ranking': '28', 'interest_in_black_friday': '1'}
{'_id': ObjectId('5c17c388484c9e33e4c2d396'), 'rank': '4', 'state': 'NORTH CAROLINA', 'violent_crime_ranking': '24', 'interest_in_black_friday': '21'}
{'_id': ObjectId('5c17c388484c9e33e4c2d397'), 'rank': '5', 'state': 'ALABAMA', 'violent_crime_ranking': '8', 'interest_in_black_friday': '26'}
{'_id': ObjectId('5c17c388484c9e33e4c2d398'), 'rank': '6', 'state': 'NEVADA', 'violent_crime_ranking': '5', 'interest_in_black_friday': '41'}
{'_id': ObjectId('5c17c388484c9e33e4c2d399'), 'rank': '7', 'state': 'CALIFORNIA', 'violent_crime_ranking': '15', 'interest_in_black_friday': '39'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39a'), 'rank': '8', 'state': 'MISSOURI', 'violent_crime_ranking': '7', 'interest_in_black_friday': '18'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39b'), 'rank': '9', 'state': 'ARIZONA', 'violent_crime_ranking': '9', 'interest_in_black_friday': '7'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39c'), 'rank': '10', 'state': 'ILLINOIS', 'violent_crime_ranking': '17', 'interest_in_black_friday': '22'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39d'), 'rank': '11', 'state': 'SOUTH CAROLINA', 'violent_crime_ranking': '10', 'interest_in_black_friday': '36'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39e'), 'rank': '12', 'state': 'WYOMING', 'violent_crime_ranking': '41', 'interest_in_black_friday': '38'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39f'), 'rank': '13', 'state': 'MICHIGAN', 'violent_crime_ranking': '14', 'interest_in_black_friday': '17'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a0'), 'rank': '14', 'state': 'DELAWARE', 'violent_crime_ranking': '13', 'interest_in_black_friday': '9'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a1'), 'rank': '15', 'state': 'NEW JERSEY', 'violent_crime_ranking': '43', 'interest_in_black_friday': '32'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a2'), 'rank': '16', 'state': 'CONNECTICUT', 'violent_crime_ranking': '44', 'interest_in_black_friday': '27'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a3'), 'rank': '17', 'state': 'TEXAS', 'violent_crime_ranking': '16', 'interest_in_black_friday': '42'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a4'), 'rank': '18', 'state': 'NEW YORK', 'violent_crime_ranking': '27', 'interest_in_black_friday': '45'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a5'), 'rank': '19', 'state': 'WASHINGTON', 'violent_crime_ranking': '32', 'interest_in_black_friday': '25'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a6'), 'rank': '20', 'state': 'ALASKA', 'violent_crime_ranking': '1', 'interest_in_black_friday': '50'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a7'), 'rank': '21', 'state': 'GEORGIA', 'violent_crime_ranking': '26', 'interest_in_black_friday': '31'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a8'), 'rank': '22', 'state': 'FLORIDA', 'violent_crime_ranking': '20', 'interest_in_black_friday': '30'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a9'), 'rank': '23', 'state': 'IOWA', 'violent_crime_ranking': '34', 'interest_in_black_friday': '5'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3aa'), 'rank': '24', 'state': 'COLORADO', 'violent_crime_ranking': '23', 'interest_in_black_friday': '35'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ab'), 'rank': '25', 'state': 'KANSAS', 'violent_crime_ranking': '19', 'interest_in_black_friday': '19'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ac'), 'rank': '26', 'state': 'INDIANA', 'violent_crime_ranking': '21', 'interest_in_black_friday': '23'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ad'), 'rank': '27', 'state': 'IDAHO', 'violent_crime_ranking': '45', 'interest_in_black_friday': '3'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ae'), 'rank': '28', 'state': 'VIRGINIA', 'violent_crime_ranking': '47', 'interest_in_black_friday': '34'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3af'), 'rank': '29', 'state': 'LOUISIANA', 'violent_crime_ranking': '4', 'interest_in_black_friday': '37'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b0'), 'rank': '30', 'state': 'KENTUCKY', 'violent_crime_ranking': '46', 'interest_in_black_friday': '10'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b1'), 'rank': '31', 'state': 'MINNESOTA', 'violent_crime_ranking': '40', 'interest_in_black_friday': '8'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b2'), 'rank': '32', 'state': 'MARYLAND', 'violent_crime_ranking': '11', 'interest_in_black_friday': '44'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b3'), 'rank': '33', 'state': 'NEBRASKA', 'violent_crime_ranking': '31', 'interest_in_black_friday': '11'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b4'), 'rank': '34', 'state': 'HAWAII', 'violent_crime_ranking': '38', 'interest_in_black_friday': '46'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b5'), 'rank': '35', 'state': 'MONTANA', 'violent_crime_ranking': '22', 'interest_in_black_friday': '28'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b6'), 'rank': '36', 'state': 'MAINE', 'violent_crime_ranking': '50', 'interest_in_black_friday': '16'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b7'), 'rank': '37', 'state': 'NORTH DAKOTA', 'violent_crime_ranking': '37', 'interest_in_black_friday': '4'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b8'), 'rank': '38', 'state': 'NEW MEXICO', 'violent_crime_ranking': '2', 'interest_in_black_friday': '48'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b9'), 'rank': '39', 'state': 'OHIO', 'violent_crime_ranking': '33', 'interest_in_black_friday': '12'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ba'), 'rank': '40', 'state': 'OKLAHOMA', 'violent_crime_ranking': '12', 'interest_in_black_friday': '33'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3bb'), 'rank': '41', 'state': 'MASSACHUSETTS', 'violent_crime_ranking': '25', 'interest_in_black_friday': '47'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3bc'), 'rank': '42', 'state': 'NEW HAMPSHIRE', 'violent_crime_ranking': '48', 'interest_in_black_friday': '13'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3bd'), 'rank': '43', 'state': 'SOUTH DAKOTA', 'violent_crime_ranking': '18', 'interest_in_black_friday': '20'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3be'), 'rank': '44', 'state': 'MISSISSIPPI', 'violent_crime_ranking': '35', 'interest_in_black_friday': '40'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3bf'), 'rank': '45', 'state': 'UTAH', 'violent_crime_ranking': '39', 'interest_in_black_friday': '2'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c0'), 'rank': '46', 'state': 'WISCONSIN', 'violent_crime_ranking': '29', 'interest_in_black_friday': '6'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c1'), 'rank': '47', 'state': 'PENNSYLVANIA', 'violent_crime_ranking': '30', 'interest_in_black_friday': '24'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c2'), 'rank': '48', 'state': 'RHODE ISLAND', 'violent_crime_ranking': '42', 'interest_in_black_friday': '29'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c3'), 'rank': '49', 'state': 'OREGON', 'violent_crime_ranking': '36', 'interest_in_black_friday': '43'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c4'), 'rank': '50', 'state': 'VERMONT', 'violent_crime_ranking': '49', 'interest_in_black_friday': '49'}