In [6]:
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import json

from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

from bs4 import BeautifulSoup
import requests
import pymongo

# EXTRACT

In [7]:
# *** Screen Scrape tables ***

state_blackfriday_violence_url = "https://www.reviews.org/trends/high-risk-states-for-black-friday-violence/"

blackfriday_death_count_url = "http://blackfridaydeathcount.com"

In [8]:
# Get first table data

state_blackfriday_violence_table = pd.read_html(state_blackfriday_violence_url, header=0)

In [9]:
# Get second table data

blackfriday_death_count_table = pd.read_html(blackfriday_death_count_url, header=0)

In [10]:
# get first table dataframe

state_df = state_blackfriday_violence_table[0]
state_df.head()

,Our ranking,State,Violent Crime ranking,Interest in Black Friday
0,1,ARKANSAS,6,15
1,2,TENNESSEE,3,14
2,3,WEST VIRGINIA,28,1
3,4,NORTH CAROLINA,24,21
4,5,ALABAMA,8,26

In [27]:
# get second table dataframe

bf_death = blackfriday_death_count_table[0]

bf_death.head()

,Unnamed: 0,Unnamed: 1,Deaths,Injuries
0,2018,"Man, 27, shot to death in parking lot in South...",1,-
1,2018,Man wounded in shooting inside N.J. mall at th...,-,1
2,2018,Two people stabbed at Macy's in Destiny USA,-,2
3,2018,Glance at attractive woman sparked Memphis mal...,-,1
4,2018,One dead and 2 wounded— including 12-year-old ...,1,2

# TRANSFORM

In [28]:
# Clean first table data

new_state_df = state_df[['Our ranking','State','Violent Crime ranking']]
new_state_df2=new_state_df.rename(columns={"Our ranking":"ranking","State":"state","Violent Crime ranking":"vio_crime_rank"})
new_state_df2.head()

   ranking           state  vio_crime_rank
0        1        ARKANSAS               6
1        2       TENNESSEE               3
2        3   WEST VIRGINIA              28
3        4  NORTH CAROLINA              24
4        5         ALABAMA               8

In [67]:
# Clean second table data

bf_death_df = bf_death.rename(columns={"Unnamed: 0":"year","Unnamed: 1":"article_title","Deaths":"deaths","Injuries":"injuries"})

bf_death_df2 = bf_death_df.replace('-',0)
#bf_death_df3 = bf_death_df2.replace(':'," ")
#bf_death_df2 = bf_death_df2.article_title.str.replace(':','')


bf_death_df3 = bf_death_df2.dropna()

bf_death_df4 = bf_death_df3.reset_index(drop=True)
bf_death_df4.drop(bf_death_df2.index[47], inplace=True)
bf_death_df5 = bf_death_df4.reset_index(drop=True)
bf_death_df5.head(50)

    year                                      article_title deaths injuries
0   2018  Man, 27, shot to death in parking lot in South...      1        0
1   2018  Man wounded in shooting inside N.J. mall at th...      0        1
2   2018        Two people stabbed at Macy's in Destiny USA      0        2
3   2018  Glance at attractive woman sparked Memphis mal...      0        1
4   2018  One dead and 2 wounded— including 12-year-old ...      1        2
5   2017  Black Friday altercation in Kmart leaves man w...      0        1
6   2017  Black Friday Missouri mall shooting leaves tee...      0        1
7   2017  One male shot, one male stabbed at Willowbrook...      0        2
8   2017  Brawls close Alabama shopping center, one trea...      0        1
9   2016  San Antonio man helped a woman being beaten in...      1        2
10  2016  Shirtless man uses belt as a whip outside Vanc...      0        1
11  2016   Woman hurt during stampede in South African mall      0        1
12  2016  One injured, one charged, after shots fired ou...      0        1
13  2016  Policeman stabbed in the neck confronting 'HMV...      0        1
14  2016  Shopper opens fire, killing one, over Walmart ...      1        0
15  2016  Black Friday kicks off with deadly shooting at...      1        1
16  2014  Thanksgiving shopper hit by car at Wyomissing ...      0        1
17  2014  Black Friday brawl at Kohl's in Tustin ends wi...      0        2
18  2014  UK Black Friday Madness: woman with broken wri...      0        2
19  2013  Shopper Pepper Sprayed, Arrested in Argument O...      0        1
20  2013  Thanksgiving Day bargain shoppers send 11 year...      0        2
21  2013  Teen returning home from Black Friday shopping...      1        4
22  2013  Man Stabbed During Black Friday Event at Carls...      0        1
23  2013  Newport, Arkansas Walmart employee injured dur...      0        1
24  2013  Scenes of chaos during chain store's Black Fri...      0        1
25  2013  Several injured in Black Friday-related shooti...      0        2
26  2013  Black Friday: Virginia Man Stabbed In Walmart ...      0        1
27  2013  Rialto Walmart brawl sends one police officer ...      0        1
28  2013  Shopper carrying TV home from Target shot in L...      0        1
29  2012  Black Friday Shoppers Hit By Suspected Drunk D...      0        2
30  2012  Father charged in crash that killed daughters ...      2        5
31  2012  Two People Shot at Tallahassee Walmart Over Pa...      0        2
32  2012  Black Friday Shoppers Hit By Suspected Drunk D...      0        2
33  2011        Girl trampled in Black Friday Wal-Mart rush      0        1
34  2011  Black Friday Worker Rescued From Canal After L...      0        1
35  2011  Black Friday: Target Shoppers Step Over Walter...      1        0
36  2011  Fights break out at Rome Walmart during Black ...      0        2
37  2011  Woman Wounded in South Carolina Black Friday R...      0        1
38  2011  Off-duty police pepper spray North Carolina sh...      0       20
39  2011     Shooting outside California Walmart, 1 wounded      0        1
40  2011  Los Angeles area Black Friday pepper-spray att...      0       20
41  2010  Transwoman assaulted at Kohl's Department Stor...      0        1
42  2010  Former Marine stabbed in Best Buy store by vio...      0        1
43  2009  Clarksville Woman Trampled During Black Friday...      0        1
44  2008  Southern California Toys 'R' Us Shooting Leave...      2        2
45  2008  Worker dies at Long Island Wal-Mart after bein...      1        4
46  2006  10 Injured in Southern California Black Friday...      0       10
47  2018  Man shopping on Black Friday at Walmart has ap...      1        0
48  2014  Texas pair arrested for Black Friday employee ...      1        0
49  2014  Murder-suicide at Chicago Nordstrom leaves two...      2        0

# LOAD

In [15]:
# Connect to local Database

rds_connection_string = "root:5663307t@localhost:3306/black_friday_incidents"
engine = create_engine(f'mysql://{rds_connection_string}')


#engine = create_engine(f"mysql://{dbuser}:{dbpasswd}@{dburi}:{dbport}/{dbname}")
#Base.metadata.create_all(engine)
#dbuser = "root"
#dbpasswd = ""
#dburi = "localhost"
#dbport = 3306
#dbname = "SharkSearch"

In [16]:
engine.table_names()

['incident_by_year', 'state_violentcrimes']

In [17]:
# first table transferred to MYSQL

new_state_df2.to_sql(name='state_violentcrimes',con=engine,if_exists='append', index=False)

In [40]:
# second table transferred to MYSQL

bf_death_df5.to_sql(name='incident_by_year',con=engine,if_exists='append', index=False)

In [87]:
# Verify first table data

pd.read_sql_query('select * from state_violentcrimes',con=engine).head()

   ranking           state  vio_crime_rank
0        1        ARKANSAS               6
1        2       TENNESSEE               3
2        3   WEST VIRGINIA              28
3        4  NORTH CAROLINA              24
4        5         ALABAMA               8

In [41]:
# Verify second table data

pd.read_sql_query('select * from incident_by_year',con=engine).head()

   year                                      article_title  deaths  injuries
0  2018  Man, 27, shot to death in parking lot in South...       1         0
1  2018  Man wounded in shooting inside N.J. mall at th...       0         1
2  2018        Two people stabbed at Macy's in Destiny USA       0         2
3  2018  Glance at attractive woman sparked Memphis mal...       0         1
4  2018  One dead and 2 wounded— including 12-year-old ...       1         2

In [ ]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [10]:
blackfriday_death_count_table = pd.read_html(blackfriday_death_count_url)
blackfriday_death_count_table

[                                             0  \
 0                                          NaN
 1                                         2018
 2                                         2018
 3                                         2018
 4                                         2018
 5                                         2018
 6                                         2017
 7                                         2017
 8                                         2017
 9                                         2017
 10                                        2016
 11                                        2016
 12                                        2016
 13                                        2016
 14                                        2016
 15                                        2016
 16                                        2016
 17                                        2014
 18                                        2014
 19                                        2014
 20                                        2013
 21                                        2013
 22                                        2013
 23                                        2013
 24                                        2013
 25                                        2013
 26                                        2013
 27                                        2013
 28                                        2013
 29                                        2013
 30                                        2012
 31                                        2012
 32                                        2012
 33                                        2012
 34                                        2011
 35                                        2011
 36                                        2011
 37                                        2011
 38                                        2011
 39                                        2011
 40                                        2011
 41                                        2011
 42                                        2010
 43                                        2010
 44                                        2009
 45                                        2008
 46                                        2008
 47                                        2006
 48                                        2006
 49                                         NaN
 50  Honorable Mentions (not included in count)
 51                                        2018
 52                                        2014
 53                                        2014
 54                                        2014
 55                                        2010

                                                     1         2         3
 0                                                 NaN    Deaths  Injuries
 1   Man, 27, shot to death in parking lot in South...         1         -
 2   Man wounded in shooting inside N.J. mall at th...         -         1
 3         Two people stabbed at Macy's in Destiny USA         -         2
 4   Glance at attractive woman sparked Memphis mal...         -         1
 5   One dead and 2 wounded— including 12-year-old ...         1         2
 6   Black Friday altercation in Kmart leaves man w...         -         1
 7   Black Friday Missouri mall shooting leaves tee...         -         1
 8   One male shot, one male stabbed at Willowbrook...         -         2
 9   Brawls close Alabama shopping center, one trea...         -         1
 10  San Antonio man helped a woman being beaten in...         1         2
 11  Shirtless man uses belt as a whip outside Vanc...         -         1
 12   Woman hurt during stampede in South African mall         -         1
 13  One injured, one charged, after shots fired ou...         -         1
 14  Policeman stabbed in the neck confronting 'HMV...         -         1
 15  Shopper opens fire, killing one, over Walmart ...         1         -
 16  Black Friday kicks off with deadly shooting at...         1         1
 17  Thanksgiving shopper hit by car at Wyomissing ...         -         1
 18  Black Friday brawl at Kohl's in Tustin ends wi...         -         2
 19  UK Black Friday Madness: woman with broken wri...         -         2
 20  Shopper Pepper Sprayed, Arrested in Argument O...         -         1
 21  Thanksgiving Day bargain shoppers send 11 year...         -         2
 22  Teen returning home from Black Friday shopping...         1         4
 23  Man Stabbed During Black Friday Event at Carls...         -         1
 24  Newport, Arkansas Walmart employee injured dur...         -         1
 25  Scenes of chaos during chain store's Black Fri...         -         1
 26  Several injured in Black Friday-related shooti...         -         2
 27  Black Friday: Virginia Man Stabbed In Walmart ...         -         1
 28  Rialto Walmart brawl sends one police officer ...         -         1
 29  Shopper carrying TV home from Target shot in L...         -         1
 30  Black Friday Shoppers Hit By Suspected Drunk D...         -         2
 31  Father charged in crash that killed daughters ...         2         5
 32  Two People Shot at Tallahassee Walmart Over Pa...         -         2
 33  Black Friday Shoppers Hit By Suspected Drunk D...         -         2
 34        Girl trampled in Black Friday Wal-Mart rush         -         1
 35  Black Friday Worker Rescued From Canal After L...         -         1
 36  Black Friday: Target Shoppers Step Over Walter...         1         -
 37  Fights break out at Rome Walmart during Black ...         -         2
 38  Woman Wounded in South Carolina Black Friday R...         -         1
 39  Off-duty police pepper spray North Carolina sh...         -        20
 40     Shooting outside California Walmart, 1 wounded         -         1
 41  Los Angeles area Black Friday pepper-spray att...         -        20
 42  Transwoman assaulted at Kohl's Department Stor...         -         1
 43  Former Marine stabbed in Best Buy store by vio...         -         1
 44  Clarksville Woman Trampled During Black Friday...         -         1
 45  Southern California Toys 'R' Us Shooting Leave...         2         2
 46  Worker dies at Long Island Wal-Mart after bein...         1         4
 47  10 Injured in Southern California Black Friday...         -        10
 48  Salt Lake Tribune, The : Red-hot on Black Friday‎         -         1
 49                                                NaN       NaN       NaN
 50                                             Deaths  Injuries       NaN
 51  Man shopping on Black Friday at Walmart has ap...         1         -
 52  Texas pair arrested for Black Friday employee ...         1         -
 53  Murder-suicide at Chicago Nordstrom leaves two...         2         -
 54                      Man stabs co-worker at Costco         -         1
 55  Employee suicide at Zanesville Jo-Ann closes s...         1         -  ]

In [49]:
# MONGO DB

# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [50]:
# Define database and collection
state_bf_db = client.state_bf_db
collection_state_bf = state_bf_db.items

bf_dc_db = client.bf_deathcount_db
collection_bf_deathcount = bf_dc_db.items

In [51]:
# Retrieve page with the requests module
response1 = requests.get(state_blackfriday_violence_url)
# Create BeautifulSoup object; parse with 'lxml'
soup1 = BeautifulSoup(response1.text, 'lxml')

# Retrieve page with the requests module
response2 = requests.get(blackfriday_death_count_url)
# Create BeautifulSoup object; parse with 'lxml'
soup2 = BeautifulSoup(response2.text, 'lxml')

In [52]:
# FIRST TABLE CONVERT TO MONGO DB

results = soup1.find_all('tr',class_="default-row")

for result in results:
    
    try:
        tds = result.find_all('td')
        our_ranking = tds[0].text
        
        state=tds[1].text
        
        violent_crime_ranking=tds[2].text
        
        interest_in_bf=tds[3].text
        
        if (our_ranking and state and violent_crime_ranking and interest_in_bf):
            print("------------------")
            print(our_ranking)
            print(state)
            print(violent_crime_ranking)
            print(interest_in_bf)
            
            post = {
                'rank':our_ranking,
                'state':state,
                'violent_crime_ranking':violent_crime_ranking,
                'interest_in_black_friday':interest_in_bf
            }
            
            collection_state_bf.insert_one(post)
            
    except Exception as e:
        print(e)

------------------
1
ARKANSAS
6
15
------------------
2
TENNESSEE
3
14
------------------
3
WEST VIRGINIA
28
1
------------------
4
NORTH CAROLINA
24
21
------------------
5
ALABAMA
8
26
------------------
6
NEVADA
5
41
------------------
7
CALIFORNIA
15
39
------------------
8
MISSOURI
7
18
------------------
9
ARIZONA
9
7
------------------
10
ILLINOIS
17
22
------------------
11
SOUTH CAROLINA
10
36
------------------
12
WYOMING
41
38
------------------
13
MICHIGAN
14
17
------------------
14
DELAWARE
13
9
------------------
15
NEW JERSEY
43
32
------------------
16
CONNECTICUT
44
27
------------------
17
TEXAS
16
42
------------------
18
NEW YORK
27
45
------------------
19
WASHINGTON
32
25
------------------
20
ALASKA
1
50
------------------
21
GEORGIA
26
31
------------------
22
FLORIDA
20
30
------------------
23
IOWA
34
5
------------------
24
COLORADO
23
35
------------------
25
KANSAS
19
19
------------------
26
INDIANA
21
23
------------------
27
IDAHO
45
3
------------------
28
VIRGINIA
47
34
------------------
29
LOUISIANA
4
37
------------------
30
KENTUCKY
46
10
------------------
31
MINNESOTA
40
8
------------------
32
MARYLAND
11
44
------------------
33
NEBRASKA
31
11
------------------
34
HAWAII
38
46
------------------
35
MONTANA
22
28
------------------
36
MAINE
50
16
------------------
37
NORTH DAKOTA
37
4
------------------
38
NEW MEXICO
2
48
------------------
39
OHIO
33
12
------------------
40
OKLAHOMA
12
33
------------------
41
MASSACHUSETTS
25
47
------------------
42
NEW HAMPSHIRE
48
13
------------------
43
SOUTH DAKOTA
18
20
------------------
44
MISSISSIPPI
35
40
------------------
45
UTAH
39
2
------------------
46
WISCONSIN
29
6
------------------
47
PENNSYLVANIA
30
24
------------------
48
RHODE ISLAND
42
29
------------------
49
OREGON
36
43
------------------
50
VERMONT
49
49

In [46]:
# Display items in MongoDB collection
listings = state_bf_db.items.find()

for listing in listings:
    pprint(listing)

{'_id': ObjectId('5c17c388484c9e33e4c2d393'),
 'interest_in_black_friday': '15',
 'rank': '1',
 'state': 'ARKANSAS',
 'violent_crime_ranking': '6'}
{'_id': ObjectId('5c17c388484c9e33e4c2d394'),
 'interest_in_black_friday': '14',
 'rank': '2',
 'state': 'TENNESSEE',
 'violent_crime_ranking': '3'}
{'_id': ObjectId('5c17c388484c9e33e4c2d395'),
 'interest_in_black_friday': '1',
 'rank': '3',
 'state': 'WEST VIRGINIA',
 'violent_crime_ranking': '28'}
{'_id': ObjectId('5c17c388484c9e33e4c2d396'),
 'interest_in_black_friday': '21',
 'rank': '4',
 'state': 'NORTH CAROLINA',
 'violent_crime_ranking': '24'}
{'_id': ObjectId('5c17c388484c9e33e4c2d397'),
 'interest_in_black_friday': '26',
 'rank': '5',
 'state': 'ALABAMA',
 'violent_crime_ranking': '8'}
{'_id': ObjectId('5c17c388484c9e33e4c2d398'),
 'interest_in_black_friday': '41',
 'rank': '6',
 'state': 'NEVADA',
 'violent_crime_ranking': '5'}
{'_id': ObjectId('5c17c388484c9e33e4c2d399'),
 'interest_in_black_friday': '39',
 'rank': '7',
 'state': 'CALIFORNIA',
 'violent_crime_ranking': '15'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39a'),
 'interest_in_black_friday': '18',
 'rank': '8',
 'state': 'MISSOURI',
 'violent_crime_ranking': '7'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39b'),
 'interest_in_black_friday': '7',
 'rank': '9',
 'state': 'ARIZONA',
 'violent_crime_ranking': '9'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39c'),
 'interest_in_black_friday': '22',
 'rank': '10',
 'state': 'ILLINOIS',
 'violent_crime_ranking': '17'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39d'),
 'interest_in_black_friday': '36',
 'rank': '11',
 'state': 'SOUTH CAROLINA',
 'violent_crime_ranking': '10'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39e'),
 'interest_in_black_friday': '38',
 'rank': '12',
 'state': 'WYOMING',
 'violent_crime_ranking': '41'}
{'_id': ObjectId('5c17c388484c9e33e4c2d39f'),
 'interest_in_black_friday': '17',
 'rank': '13',
 'state': 'MICHIGAN',
 'violent_crime_ranking': '14'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a0'),
 'interest_in_black_friday': '9',
 'rank': '14',
 'state': 'DELAWARE',
 'violent_crime_ranking': '13'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a1'),
 'interest_in_black_friday': '32',
 'rank': '15',
 'state': 'NEW JERSEY',
 'violent_crime_ranking': '43'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a2'),
 'interest_in_black_friday': '27',
 'rank': '16',
 'state': 'CONNECTICUT',
 'violent_crime_ranking': '44'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a3'),
 'interest_in_black_friday': '42',
 'rank': '17',
 'state': 'TEXAS',
 'violent_crime_ranking': '16'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a4'),
 'interest_in_black_friday': '45',
 'rank': '18',
 'state': 'NEW YORK',
 'violent_crime_ranking': '27'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a5'),
 'interest_in_black_friday': '25',
 'rank': '19',
 'state': 'WASHINGTON',
 'violent_crime_ranking': '32'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a6'),
 'interest_in_black_friday': '50',
 'rank': '20',
 'state': 'ALASKA',
 'violent_crime_ranking': '1'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a7'),
 'interest_in_black_friday': '31',
 'rank': '21',
 'state': 'GEORGIA',
 'violent_crime_ranking': '26'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a8'),
 'interest_in_black_friday': '30',
 'rank': '22',
 'state': 'FLORIDA',
 'violent_crime_ranking': '20'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3a9'),
 'interest_in_black_friday': '5',
 'rank': '23',
 'state': 'IOWA',
 'violent_crime_ranking': '34'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3aa'),
 'interest_in_black_friday': '35',
 'rank': '24',
 'state': 'COLORADO',
 'violent_crime_ranking': '23'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ab'),
 'interest_in_black_friday': '19',
 'rank': '25',
 'state': 'KANSAS',
 'violent_crime_ranking': '19'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ac'),
 'interest_in_black_friday': '23',
 'rank': '26',
 'state': 'INDIANA',
 'violent_crime_ranking': '21'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ad'),
 'interest_in_black_friday': '3',
 'rank': '27',
 'state': 'IDAHO',
 'violent_crime_ranking': '45'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ae'),
 'interest_in_black_friday': '34',
 'rank': '28',
 'state': 'VIRGINIA',
 'violent_crime_ranking': '47'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3af'),
 'interest_in_black_friday': '37',
 'rank': '29',
 'state': 'LOUISIANA',
 'violent_crime_ranking': '4'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b0'),
 'interest_in_black_friday': '10',
 'rank': '30',
 'state': 'KENTUCKY',
 'violent_crime_ranking': '46'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b1'),
 'interest_in_black_friday': '8',
 'rank': '31',
 'state': 'MINNESOTA',
 'violent_crime_ranking': '40'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b2'),
 'interest_in_black_friday': '44',
 'rank': '32',
 'state': 'MARYLAND',
 'violent_crime_ranking': '11'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b3'),
 'interest_in_black_friday': '11',
 'rank': '33',
 'state': 'NEBRASKA',
 'violent_crime_ranking': '31'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b4'),
 'interest_in_black_friday': '46',
 'rank': '34',
 'state': 'HAWAII',
 'violent_crime_ranking': '38'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b5'),
 'interest_in_black_friday': '28',
 'rank': '35',
 'state': 'MONTANA',
 'violent_crime_ranking': '22'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b6'),
 'interest_in_black_friday': '16',
 'rank': '36',
 'state': 'MAINE',
 'violent_crime_ranking': '50'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b7'),
 'interest_in_black_friday': '4',
 'rank': '37',
 'state': 'NORTH DAKOTA',
 'violent_crime_ranking': '37'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b8'),
 'interest_in_black_friday': '48',
 'rank': '38',
 'state': 'NEW MEXICO',
 'violent_crime_ranking': '2'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3b9'),
 'interest_in_black_friday': '12',
 'rank': '39',
 'state': 'OHIO',
 'violent_crime_ranking': '33'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3ba'),
 'interest_in_black_friday': '33',
 'rank': '40',
 'state': 'OKLAHOMA',
 'violent_crime_ranking': '12'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3bb'),
 'interest_in_black_friday': '47',
 'rank': '41',
 'state': 'MASSACHUSETTS',
 'violent_crime_ranking': '25'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3bc'),
 'interest_in_black_friday': '13',
 'rank': '42',
 'state': 'NEW HAMPSHIRE',
 'violent_crime_ranking': '48'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3bd'),
 'interest_in_black_friday': '20',
 'rank': '43',
 'state': 'SOUTH DAKOTA',
 'violent_crime_ranking': '18'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3be'),
 'interest_in_black_friday': '40',
 'rank': '44',
 'state': 'MISSISSIPPI',
 'violent_crime_ranking': '35'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3bf'),
 'interest_in_black_friday': '2',
 'rank': '45',
 'state': 'UTAH',
 'violent_crime_ranking': '39'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c0'),
 'interest_in_black_friday': '6',
 'rank': '46',
 'state': 'WISCONSIN',
 'violent_crime_ranking': '29'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c1'),
 'interest_in_black_friday': '24',
 'rank': '47',
 'state': 'PENNSYLVANIA',
 'violent_crime_ranking': '30'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c2'),
 'interest_in_black_friday': '29',
 'rank': '48',
 'state': 'RHODE ISLAND',
 'violent_crime_ranking': '42'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c3'),
 'interest_in_black_friday': '43',
 'rank': '49',
 'state': 'OREGON',
 'violent_crime_ranking': '36'}
{'_id': ObjectId('5c17c388484c9e33e4c2d3c4'),
 'interest_in_black_friday': '49',
 'rank': '50',
 'state': 'VERMONT',
 'violent_crime_ranking': '49'}

In [75]:
bf_death_df6= bf_death_df5
bf_death_df6.head()

,New_ID,year,article_title,deaths,injuries
0,ind_,2018,"Man, 27, shot to death in parking lot in South...",1,0
1,ind_,2018,Man wounded in shooting inside N.J. mall at th...,0,1
2,ind_,2018,Two people stabbed at Macy's in Destiny USA,0,2
3,ind_,2018,Glance at attractive woman sparked Memphis mal...,0,1
4,ind_,2018,One dead and 2 wounded— including 12-year-old ...,1,2

In [76]:
bf_death_df6.insert(0,'New_ID', f'ind_')

ValueError: cannot insert New_ID, already exists

In [77]:
bf_death_df7 = bf_death_df6.set_index('New_ID')
bf_death_df7.head()

,year,article_title,deaths,injuries
New_ID,,,,
ind_,2018,"Man, 27, shot to death in parking lot in South...",1,0
ind_,2018,Man wounded in shooting inside N.J. mall at th...,0,1
ind_,2018,Two people stabbed at Macy's in Destiny USA,0,2
ind_,2018,Glance at attractive woman sparked Memphis mal...,0,1
ind_,2018,One dead and 2 wounded— including 12-year-old ...,1,2

In [80]:
# SECOND TABLE TO MONGO DB

bf_death_dict = bf_death_df7.to_dict('index')
bf_death_dict

{'ind_': {'year': '2010',
  'article_title': 'Employee suicide at Zanesville Jo-Ann closes store for Black Friday',
  'deaths': '1',
  'injuries': 0}}

In [81]:
collection_bf_deathcount.insert(bf_death_dict)

/Users/tylermcbeth/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

ObjectId('5c198cee484c9e7120c9e919')